[MASTER]

# Files or directories to be skipped. They should be base names, not paths.
ignore=CVS, migrations, venv, 0001_initial

init-hook='sys.path = list(); sys.path.append("BASE_DIR/venv/Lib/site-packages/")'

[IMPORTS]

# List of modules that can be imported at any level, not just the top level one.
allow-any-import-level=django.core.management

[MESSAGES CONTROL]

disable=R0903, E0401, C0415, C0103, C0301
