[MASTER]

# Files or directories to be skipped. They should be base names, not paths.
ignore=CVS, migrations, venv, 0001_initial
django-settings-module=hrm.settings
load-plugins=pylint_django

[IMPORTS]

# List of modules that can be imported at any level, not just the top level one.
allow-any-import-level=django.core.management

[MESSAGES CONTROL]
disable=R0901, W0221, C2801