{% extends 'base.html' %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ department.title }}</title>
</head>
<body>

{% block content %}

<h1 class="text-center">{{ department.title }}</h1>
<h1>Employees:</h1>
{% for employee in department %}
    <style>
       ul.hr {
        margin: 0; /* Обнуляем значение отступов */
        padding: 4px; /* Значение полей */
       }
       ul.hr li {
        display: inline; /* Отображать как строчный элемент */
        margin-right: 5px; /* Отступ слева */
        padding: 3px; /* Поля вокруг текста */
       }
    </style>
    <ul class="hr">
        <li><a href="{% url 'employee_detail' id=employee.id %}">{{ employee.id  }}</a></li>
        <li>{{ employee.name }}</li>
        <li>{{ employee.surname }}</li>
        <li>{{ employee.birthday }}</li>
        <li>{{ employee.salary}}</li>
    </ul>
{% endfor %}

<p>Date of birth filtering</p>
<form method="POST" action="{% url 'search_result' %}">
{% csrf_token %}
<!--<input type="hidden" name="department_slug" value="{{ department.slug }}">-->

From: <input type="date" name="startpoint" required>
To: <input type="date" name="endpoint" required>
<input type="submit" value="search">
<!--<a class="btn btn-default" href="{% url 'search_result' %}"><span class="glyphicon glyphicon-search"></span>VIEW</a>-->
</form>

{% endblock %}

</body>
</html>