{% extends 'base.html' %}
<html lang="en">
<head>

</head>
<body>

{% block content %}
<form method="POST" action="" class="post-form">{% csrf_token %}
<!--     <p>-->
<!--        <label>Enter department's title</label><br>-->
<!--        <input type="text" name="title" required>-->
<!--     </p>-->
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
    <br><button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button></br>
</form>
{% endblock %}

</body>
</html>