{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department deletion</title>
</head>
<body>
{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ department.title }}"?</p>
    <button class="btn btn-default" type="submit">Delete<span class="glyphicon glyphicon-trash"></span></button>
    <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
</form>
{% endblock %}
</body>
</html>