{% extends 'base.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Human resource management</title>
</head>
<body>
{% block content %}
<h1 class="text-center">Human resource management</h1>

{% for department in departments %}

    <ul style="margin: 0; padding: 4px">
        <li style="display: inline; margin-right: 5px; padding: 3px"><a href="{% url 'department_detail' prime_key=department.id %}">{{ department.title }}</a></li>
        <li style="display: inline; margin-right: 5px; padding: 3px">{{department.average_salary}}</li>
        <li style="display: inline; margin-right: 5px; padding: 3px"><a class="btn btn-default" href="{% url 'add_new_dept' prime_key=department.id %}">
        EDIT DEPT<span class="glyphicon glyphicon-pencil"></span></a></li>
        <li style="display: inline; margin-right: 5px; padding: 3px"><a class="btn btn-default" href="{% url 'dept_deletion' prime_key=department.id %}">
        Delete DEPT<span class="glyphicon glyphicon-trash"></span></a></li>
    </ul>

{% endfor %}

<br><a class="btn btn-default" href="{% url 'add_new_dept' %}">
    <span class="glyphicon glyphicon-plus"></span>ADD NEW DEPT</a><br>

{% endblock %}
</body>
</html>