<!--{% extends 'base.html' %}-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Human resource management</title>
</head>
<body>
{% block content %}
<h1 class="text-center">Human resource management</h1>

{% for department in object_list %}

    <ul style="margin: 0; padding: 4px">
        <li style="display: inline; margin-right: 5px; padding: 3px">{{ department.title }}</li>
        <li style="display: inline; margin-right: 5px; padding: 3px">{{department.average_salary}}</li>

    </ul>

{% endfor %}



{% endblock %}
</body>
</html>